<% if (@product.errors.present?) %>
	<% @product.errors.full_messages.each do |message| %>
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<%= message %>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	<% end %>
<% end %>

<h1>Update Product</h1>

<%= form_for @product, method: :put do |p| %>
	<div class="mb-3">
		<%= p.label :name, class: "form-label" %>
		<%= p.text_field :name, class: 'form-control' %>
	</div>

	<div class="mb-3">
		<%= p.label :description, class: "form-label" %>
		<%= p.text_area :description, class: 'form-control' %>
	</div>

	<div class="mb-3">
		<%= p.label :price, class: "form-label" %>
		<%= p.text_field :price, class: 'form-control' %>
	</div>

	<div class="mb-3">
		<%= p.label :images, class: "form-label" %>
		<%#= p.file_field :images, class: 'form-control' %>
		<%= p.file_field :images, multiple: true, class: 'form-control', default: @product.images.attached? ? @product.images.attachments.first : '' %>
	</div>

	<div class="mb-3">
		<%= p.submit 'Update', class: 'btn btn-info' %>
		<%= link_to :Back, products_path, class: 'btn btn-secondary' %>
	</div>

<% end %>